<!DOCTYPE html>
<html>
<head>
	<title>aa</title>
</head>
<body>
	<script>
		var tpl = '<div><span>{{name}}</span><span>{{text}}</span></div>';
		var collection =[
			{name: 'jfssjd',
			text: 'fsd'},

			{name: 'jfsgssjd',
			text: 'fasd'},

			{name: 'jfjfssjd',
			text: 'fffsd'},

			{name: 'jfssgfdjd',
			text: 'fsssfd'},

			{name: 'jfshgsjd',
			text: 'fsfdd'},
		];
		(function(){
				window.Class = function Class(tpl, collection) {
				this.tpl = tpl;
				this.collection = collection;
				this.output = ''
				this.parse = function(tpl, object) {
					var repl = [];
					var keyTmp = Object.keys(object);
					var res = tpl;
					for (var key in object) {
						repl.push('{{' + [key] + '}}');
					};
					for (var i = 0; i < repl.length; i++) {
						res = res.replace(repl[i], object[keyTmp[i]]); 
					}
					return res;
				};
				this.start = function() {
					for (var i = 0; i < this.collection.length; i++) {
						this.output += this.parse(this.tpl, this.collection[i]);
					}
				};
				this.render = function() {
					this.start(tpl, collection);
				};
				this.getTpl = function() {
					return this.output;
				}
		};
		}());
		var obj = new Class(tpl, collection);
		obj.render();
		var result = obj.getTpl();
		console.log(result);
	</script>
</body>
</html>